html(lang="en")
	head
		title GroupMe Stats
	body
		h1 Your groups:
		- for (var x = 0; x < response.length; x++)
			- var group = response[x]
			div
				p
					a(href="./group/"+group.id+"/stats" id=group.id)= group.name + " (" +group.messages.count + " msg)"
					- var imgURL = group.image_url ? group.image_url : "http://siliconangle.com/files/2011/08/GroupMe.png"
				img(src=imgURL width=100 height=100)
