doctype html
html
  head
    title #{title} GroupMe Stats
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      h1 GroupMe Stats
    .content
      block content
    footer
      p Running on node with Express, Jade, and Stylus
