html(lang="en")
	head
		title GroupMe Stats
	body
		- var group = response
		h1= group.name
		h3 Members
		- for (var x = 0; x < group.members.length; x++)
			- var member = group.members[x]
			div
				p= member.nickname
				- var imgURL = member.image_url ? member.image_url : "http://siliconangle.com/files/2011/08/GroupMe.png"
				img(src=imgURL width=100 height=100)
