html(lang="en")
	head
		title GroupMe Stats
	body
		h1 Options for ***Group Name***:
		a(href="./"+group.id+"/stats") 
			button Get Stats
		a(href="./"+group.id+"/removeAllOtherMembers") 
			button REMOVE EVERYONE ELSE!
