doctype html
html
  head
    title #{title} GMStats
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      h1 Maxwell Stats
    .content
      block content
    footer
      p Running on node with Express, Jade, and Stylus
